#header

  .header_content
    .container_12
      .grid_2
        .logo= link_to (image_tag 'logo.png'), root_path
      .grid_10
        %ul.nav
          %li
            - if logged_in?
              - if current_page? history_users_path
                = link_to "Logout", logout_path, style: 'color: red'
              - else
                = link_to "Your Account", history_users_path
            - else
              = link_to "Login", login_path
          %li &bull;
          %li= link_to "Random", root_path
          %li &bull;
          %li= link_to "Browse", questions_path
          %li &bull;
          %li= link_to "Ask a Question", new_question_path

  .header_border