!!!
%html
  %head
    %title= title
    = stylesheet_link_tag    "admin/application", :media => "all"
    = javascript_include_tag "admin/application"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = csrf_meta_tags


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand RollPoll Administration
          - unless current_admin.nil?
            %ul.nav
              %li= link_to "Users", admin_users_path
              %li= link_to "Questions", admin_questions_path
              %li= link_to "Administrators", admin_administrators_path

            %ul.nav.pull-right
              %li= link_to "Logout", admin_logout_path

    .container
      .alerts
        - flash.each do |x, y|
          .alert{ class: x }
            = y.to_s

      .main
        = yield